<%= form_for([@lesson, @lesson.comments.build]) do |f| %>
  <h5>New comment:</h5>
  <%= f.text_area :body %>
  <% if !locals[:simple] %>
      <br/><br/>
      <%= f.submit  "Add comment", :class => "success button" %>
  <% end %>
<% end %>