<tr height="50px">
    <th>
      <div align="center">Sun</div>
    </th>
    <th>
      <div align="center">Mon</div>
    </th>
    <th>
      <div align="center">Tue</div>
    </th>
    <th>
      <div align="center">Wed</div>
    </th>
    <th>
      <div align="center">Thu</div>
    </th>
    <th>
      <div align="center">Fri</div>
    </th>
    <th>
      <div align="center">Sat</div>
    </th>
  </tr>