<% if object.errors.any? %>
  <div id="error_explanation">
    <h4><%= pluralize(object.errors.count, "error") %>prevented this user from being created.</h4>
    <p>There were issues with the following fields:</p>
    
    <ul>
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>