<div id="list-resources" class="panel">
  <% mode="paginate" %>
  <% if current_user.admin? %>
    <%= render partial: 'new' %>
  <% end %>
  <h3 id="resources">Available resources</h3>
  <%= render partial: 'available_resources', locals:{local_hash: {mode: mode}} %>
</div>

