/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-datepicker
 */

/*= require foundation */

body {
	font-family: 'Noto Sans', sans-serif;
	background-color: #fbfbfb;
}

header {
	padding-top: 20px;
	padding-bottom: 20px;
}

#topnav {
	padding-top: 20px;
	color: #f6f6f6;
}

#topnav a {
	font-family: 'Noto Sans', sans-serif;
	color: #9f9f9f;
	font-size: 11pt;
	font-weight: 700;
}

#topnav .success {
	margin-top: 20px;
	color: #FFF;
	font-family: 'Noto Sans', sans-serif;
	font-weight: 700;
	font-size:12pt;
	padding:10px;
	width:220px;
}

#signup-panel .panel {
	background-color: #FFF;
	border:none;
	box-shadow: 1px 1px 2px #ebebeb;
	padding-top: 40px;
	padding-bottom: 40px;	
}

#signup-panel h1 {
		font-family: 'Noto Sans', sans-serif;
		color: #575757;
		margin-bottom: 40px;
}

#signup-panel .success {
	color: #FFF;
	font-family: 'Noto Sans', sans-serif;
	font-weight: 700;
	font-size:12pt;
	padding:10px;
	width:220px;
}

#nav {
	background-color: #FFF;
	box-shadow: 1px 1px 2px #ebebeb;
	padding-top: 10px;
	padding-bottom: 10px;
}

#nav a {
	padding:10px;
	display: inline-block;
	font-weight: 700;
	font-family: 'Noto Sans', sans-serif;	
}

#nav h5 {
	font-size: 11pt;
	color: #575757;
	font-weight: 700;
	padding-left: 10px;
	margin:0px;
}

#error_explanation {
	background-color:#fce6e6;
	padding: 20px;
	border:1px solid #f8cdcd;
	margin-bottom: 20px;
}

#error_explanation h4 {
	color: red;
}

.field_with_errors {
	background-color:#fce6e6;
	padding:10px;
	}
.field_with_errors input {
	margin:0px !important
}

.field-item {
	margin-bottom: 20px;
}

.clear {
	clear: both;
}

#account-details .panel {
	background-color: #FFF;
	border:none;
	box-shadow: 1px 1px 2px #ebebeb;
}

#account-details h2 {
		font-family: 'Noto Sans', sans-serif;
		color: #575757;
		margin-bottom: 20px;
		font-size: 20pt;
	
}

#account-details table {
	border:none;
}

#account-details .success {
	color: #FFF;
	font-family: 'Noto Sans', sans-serif;
	font-weight: 700;
	font-size:12pt;
	padding:10px;
	margin-top: 20px;
}

#activity-feed .panel {
	background-color: #FFF;
	border:none;
	box-shadow: 1px 1px 2px #ebebeb;
}

#activity-feed h2 {
		font-family: 'Noto Sans', sans-serif;
		color: #575757;
		font-size: 20pt;
		margin-bottom: 20px;
}

.disabled {
	opacity: 0.5;
	cursor:no-drop;
}

.cancel {
	color: #575757;
	font-size: 11pt;
	vertical-align: middle;
	display: inline-block;
	margin-left: 30px;
	font-family: 'Noto Sans', sans-serif;
	text-decoration: underline;
}

#list-users h2 {
		font-family: 'Noto Sans', sans-serif;
		color: #575757;
		margin-bottom: 20px;
		font-size: 20pt;
	
}

#list-users h4 {
		font-family: 'Noto Sans', sans-serif;
		color: #5da422;
		margin-bottom: 10px;
		font-size: 13pt;
		font-weight: 700;
	
}

#list-users h2 {
		font-family: 'Noto Sans', sans-serif;
		color: #575757;
		margin-bottom: 20px;
		font-size: 20pt;
	
}

#list-users table {
	border:none;
}

#admin-nav {
	background-color: #575757;
	padding:10px;
}

#admin-nav h5 {
	color: #FFF;
	font-size: 12pt;
	font-weight: 700;
	font-family: 'Noto Sans', sans-serif;
}

#admin-nav a {
	display: inline-block;
	padding:5px;
	background-color: #343434;
	color: #dedede;
}

/* Pagination */

.apple_pagination {
	background-color: #FFF;
	border:none;
	box-shadow: 1px 1px 2px #ebebeb;
  text-align: center;
  padding: 1em;
  cursor: default; }
  .apple_pagination a, .apple_pagination span {
    padding: 0.2em 0.3em; }
  .apple_pagination .disabled {
    color: #dedede; }
  .apple_pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
  .apple_pagination a {
    text-decoration: none;
    color: black; }
    .apple_pagination a:hover, .apple_pagination a:focus {
      text-decoration: underline; }

th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

th .asc {
  background-image: url(/assets/up_arrow.png);
}

th .desc {
  background-image: url(/assets/down_arrow.png);
}

#search_lessons input {
	margin: 0;
}