/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*= require foundation */

body {
	font-family: 'Noto Sans', sans-serif;
	background-color: #fbfbfb;
}

header {
	padding-top: 20px;
	padding-bottom: 20px;
}

#topnav {
	padding-top: 20px;
	color: #f6f6f6;
}

#topnav a {
	font-family: 'Noto Sans', sans-serif;
	color: #9f9f9f;
	font-size: 11pt;
	font-weight: 700;
}

#topnav .success {
	margin-top: 20px;
	color: #FFF;
	font-family: 'Noto Sans', sans-serif;
	font-weight: 700;
	font-size:12pt;
	padding:10px;
	width:220px;
}

#signup-panel .panel {
	background-color: #FFF;
	border:none;
	box-shadow: 3px 3px 5px #dedede;
	padding-top: 40px;
	padding-bottom: 40px;	
}

#signup-panel h1 {
		font-family: 'Noto Sans', sans-serif;
		color: #575757;
		margin-bottom: 40px;
}

#signup-panel .success {
	color: #FFF;
	font-family: 'Noto Sans', sans-serif;
	font-weight: 700;
	font-size:12pt;
	padding:10px;
	width:220px;
}