<header>
<div class="row">
<div class="large-4 columns">

<%= link_to logo, root_path %>

</div>

<div id="topnav" class="large-8 columns text-right">

<%= link_to "Home", root_path %> | <%= link_to "About", about_path %>  | <%= link_to "Contact", contact_path %> 

<br>
<a class="success button small radius"><i class="fi-torso"></i> Login</a>

</div>

<nav>

<div class="large-12 columns">
<div id="nav">
	<h5>Welcome %username%</h5>

	<a href="#">My Homework Diary</a>
	<a href="#">My Lesson Timetable</a>
	<a href="#">Resource Area</a>
	<a href="#">Account Details</a>
	<a href="#">Logout</a>
</div>
</div>

</nav>

</div>

</header>